{% extends 'base.html' %} 
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Develooper</title>{% endblock %}
</head>
<body>
{% block content %}
<div id="mySidenav" class="sidenav">    
<a style="cursor:pointer" class="blosebtn" onclick="closeNav()">&times;</a>
<a href="{% url 'crud:home' %}" >Home </a>
<a href="{% url 'crud:logout' %}" >Logout</a>
</div>
<div class="horizontal-row"></div>
<span class="outro" style="cursor:pointer" onclick="openNav()">&#9776; MENU</span>
<div class="intro">
    <span>Welcome, {{ user.username }}! Here, you can use our chat!</span><br>
</div>
<div class="horizontal-row"></div>
<br><br>

 
<!--<div class='container'>
    <div class='row border-bottom my-3 py-3'>
        <div class='col'>
            <h1 class='p-0 m-0'>Chat</h1>
        </div>
    </div>
</div>-->

<div class="list_online">
<div class="outro">Online Users</div>
{% if name %}
        {% for item in name %}
            <li>{{item}}</li>
        {% endfor %}
{% endif %}

</div>

{% endblock %}


</body>
</html>

